In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read in the data files to use for this assignment
csv_path = "../Resources/schools_complete.csv"
complete_schools_data = pd.read_csv(csv_path)

csv_path = "../Resources/students_complete.csv"
complete_students_data = pd.read_csv(csv_path)

In [3]:
# Confirm the school data loaded
complete_schools_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [4]:
# Confirm the student data loaded
complete_students_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [5]:
# Calculating budget per student and inserting column
complete_schools_data["Per Student Budget"] = complete_schools_data["budget"] / complete_schools_data["size"]

complete_schools_data.head()

,School ID,school_name,type,size,budget,Per Student Budget
0,0,Huang High School,District,2917,1910635,655.0
1,1,Figueroa High School,District,2949,1884411,639.0
2,2,Shelton High School,Charter,1761,1056600,600.0
3,3,Hernandez High School,District,4635,3022020,652.0
4,4,Griffin High School,Charter,1468,917500,625.0

In [6]:
# Create bins for passing scores
bins = [0, 69, 100]

# Create labels for the bins
score_labels = ["Not Passing", "Passing"]

In [7]:
# Determine basic data for the District Summary
school_count = complete_schools_data["school_name"].count()
student_count = complete_students_data["student_name"].count()
district_budget = complete_schools_data["budget"].sum()
avg_district_math_score = complete_students_data["math_score"].mean()
avg_district_reading_score = complete_students_data["reading_score"].mean()

In [8]:
# Creating data sets for just math and reading scores
district_math_scores = complete_students_data[["student_name",
                                             "math_score"]]

district_reading_scores = complete_students_data[["student_name",
                                             "reading_score"]]

In [9]:
# Place the passing determination into a new column inside the DataFrame
complete_students_data["Passing_Math"] = pd.cut(district_math_scores["math_score"], 
                                                bins, labels = score_labels)

In [10]:
# Place the passing determination into a new column inside the DataFrame
complete_students_data["Passing_Reading"] = pd.cut(district_reading_scores["reading_score"], 
                                                bins, labels = score_labels)

In [11]:
# Confirm the new columns were added to the original DataFrame
complete_students_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,Passing_Math,Passing_Reading
0,0,Paul Bradley,M,9th,Huang High School,66,79,Passing,Not Passing
1,1,Victor Smith,M,12th,Huang High School,94,61,Not Passing,Passing
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,Not Passing,Passing
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,Not Passing,Not Passing
4,4,Bonnie Ray,F,9th,Huang High School,97,84,Passing,Passing

In [12]:
# Determine the students in the district passing math, reading, and both
dist_students_passing_math = complete_students_data.loc[complete_students_data["Passing_Math"] == "Passing"]

dist_students_passing_reading = complete_students_data.loc[complete_students_data["Passing_Reading"] == "Passing"]

math_pass_count = dist_students_passing_math["Passing_Math"].count()
reading_pass_count = dist_students_passing_reading["Passing_Reading"].count()

if math_pass_count > reading_pass_count:
    dist_students_pass_math_reading = dist_students_passing_math.loc[dist_students_passing_math["Passing_Reading"] == "Passing"]
    math_reading_pass_count = dist_students_pass_math_reading["Passing_Math"].count()
else:
    dist_students_pass_math_reading = dist_students_passing_reading.loc[dist_students_passing_reading["Passing_Math"] == "Passing"]
    math_reading_pass_count = dist_students_pass_math_reading["Passing_Reading"].count()

#print(math_pass_count)
#print(reading_pass_count)
#print(math_reading_pass_count)

In [13]:
# Calculate percentage of students in district passing math or reading
dist_pct_pass_math = (math_pass_count / student_count)

dist_pct_pass_reading = (reading_pass_count / student_count)

dist_pct_pass_math_reading = (math_reading_pass_count / student_count)

#print(dist_pct_pass_math)
#print(dist_pct_pass_reading)
#print(dist_pct_pass_math_reading)

In [14]:
district_summary = pd.DataFrame({"Total Schools": [school_count],
                                "Total Students": ["{:,}".format(student_count)],
                                "Total Budget": ["${0:,.2f}".format(district_budget)],
                                "Average Math Score": [avg_district_math_score],
                                "Average Reading Score": [avg_district_reading_score],
                                "% Passing Math": ["{:.2%}".format(dist_pct_pass_math)],
                                "% Passing Reading": ["{:.2%}".format(dist_pct_pass_reading)],
                                "% Overall Passing": ["{:.2%}".format(dist_pct_pass_math_reading)]})

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.98%,85.81%,65.17%

In [15]:
# Defining the high schools for the individual school analysis
# HHS = Huang High School
# FHS = Figueroa High School
# SHS = Shelton High School
# HZHS = Hernandez High School
# GHS = Griffin High School
# WHS = Wilson High School
# CHS = Cabrera High School
# BHS = Bailey High School
# HNHS = Holden High School
# PHS = Pena High School
# WTHS = Wright High School
# RHS = Rodriguez High School
# JHS = Johnson High School
# FDHS = Ford High School
# THS = Thomas High School

In [16]:
# Collecting student informaiton for Huang High School
hhs_student_data = complete_students_data.loc[complete_students_data["school_name"] == "Huang High School"]
hhs_student_count = hhs_student_data["student_name"].count()

# Calculation average math and reading scores for Huang High School
hhs_avg_math_score = hhs_student_data["math_score"].mean()
hhs_avg_reading_score = hhs_student_data["reading_score"].mean()

# Creating DataFrames that contain the students that are passing math or reading
hhs_students_passing_math = hhs_student_data.loc[hhs_student_data["Passing_Math"] == "Passing"]

hhs_students_passing_reading = hhs_student_data.loc[hhs_student_data["Passing_Reading"] == "Passing"]

# Determinging the number of students at Huang High School that are passing math or reading
hhs_math_pass_count = hhs_students_passing_math["Passing_Math"].count()
hhs_reading_pass_count = hhs_students_passing_reading["Passing_Reading"].count()

# Determining the number of students that are passing math and reading
if hhs_math_pass_count > hhs_reading_pass_count:
    hhs_students_pass_math_reading = hhs_students_passing_math.loc[hhs_students_passing_math["Passing_Reading"] == "Passing"]
    hhs_math_reading_pass_count = hhs_students_pass_math_reading["Passing_Math"].count()
else:
    hhs_students_pass_math_reading = hhs_students_passing_reading.loc[hhs_students_passing_reading["Passing_Math"] == "Passing"]
    hhs_math_reading_pass_count = hhs_students_pass_math_reading["Passing_Reading"].count()

# Calculate percentage of students at Huang High School passing math and/or reading
hhs_pct_pass_math = (hhs_math_pass_count / hhs_student_count)

hhs_pct_pass_reading = (hhs_reading_pass_count / hhs_student_count)

hhs_pct_pass_math_reading = (hhs_math_reading_pass_count / hhs_student_count)

#print(hhs_student_count)
#print(hhs_avg_math_score)
#print(hhs_avg_reading_score)
#print(hhs_pct_pass_math)
#print(hhs_pct_pass_reading)
#print(hhs_pct_pass_math_reading)

hhs_summary = pd.DataFrame({"School Name": ["Huang High School"],
                            "Total Students": ["{:,}".format(hhs_student_count)],
                            "Average Math Score": [hhs_avg_math_score],
                            "Average Reading Score": [hhs_avg_reading_score],
                            "% Passing Math": ["{:.2%}".format(hhs_pct_pass_math)],
                            "% Passing Reading": ["{:.2%}".format(hhs_pct_pass_reading)],
                            "% Overall Passing": ["{:.2%}".format(hhs_pct_pass_math_reading)]})

hhs_summary

,School Name,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Huang High School,"2,917",76.629414,81.182722,65.68%,81.32%,53.51%

In [17]:
# Collecting student informaiton for Figueroa High School
fhs_student_data = complete_students_data.loc[complete_students_data["school_name"] == "Figueroa High School"]
fhs_student_count = fhs_student_data["student_name"].count()

# Calculation average math and reading scores for Figueroa High School
fhs_avg_math_score = fhs_student_data["math_score"].mean()
fhs_avg_reading_score = fhs_student_data["reading_score"].mean()

# Creating DataFrames that contain the students that are passing math or reading
fhs_students_passing_math = fhs_student_data.loc[fhs_student_data["Passing_Math"] == "Passing"]

fhs_students_passing_reading = fhs_student_data.loc[fhs_student_data["Passing_Reading"] == "Passing"]

# Determinging the number of students at Figueroa High School that are passing math or reading
fhs_math_pass_count =fhs_students_passing_math["Passing_Math"].count()
fhs_reading_pass_count = fhs_students_passing_reading["Passing_Reading"].count()

# Determining the number of students that are passing math and reading
if fhs_math_pass_count > fhs_reading_pass_count:
    fhs_students_pass_math_reading = fhs_students_passing_math.loc[fhs_students_passing_math["Passing_Reading"] == "Passing"]
    fhs_math_reading_pass_count = fhs_students_pass_math_reading["Passing_Math"].count()
else:
    fhs_students_pass_math_reading = fhs_students_passing_reading.loc[fhs_students_passing_reading["Passing_Math"] == "Passing"]
    fhs_math_reading_pass_count = fhs_students_pass_math_reading["Passing_Reading"].count()

# Calculate percentage of students at Figueroa High School passing math and/or reading
fhs_pct_pass_math = (fhs_math_pass_count / fhs_student_count)

fhs_pct_pass_reading = (fhs_reading_pass_count / fhs_student_count)

fhs_pct_pass_math_reading = (fhs_math_reading_pass_count / fhs_student_count)

#print(fhs_student_count)
#print(fhs_avg_math_score)
#print(fhs_avg_reading_score)
#print(fhs_pct_pass_math)
#print(fhs_pct_pass_reading)
#print(fhs_pct_pass_math_reading)

fhs_summary = pd.DataFrame({"School Name": ["Figueroa High School"],
                            "Total Students": ["{:,}".format(fhs_student_count)],
                            "Average Math Score": [fhs_avg_math_score],
                            "Average Reading Score": [fhs_avg_reading_score],
                            "% Passing Math": ["{:.2%}".format(fhs_pct_pass_math)],
                            "% Passing Reading": ["{:.2%}".format(fhs_pct_pass_reading)],
                            "% Overall Passing": ["{:.2%}".format(fhs_pct_pass_math_reading)]})

fhs_summary

,School Name,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Figueroa High School,"2,949",76.711767,81.15802,65.99%,80.74%,53.20%

In [18]:
# Collecting student informaiton for Shelton High School
shs_student_data = complete_students_data.loc[complete_students_data["school_name"] == "Shelton High School"]
shs_student_count = shs_student_data["student_name"].count()

# Calculation average math and reading scores for Shelton High School
shs_avg_math_score = shs_student_data["math_score"].mean()
shs_avg_reading_score = shs_student_data["reading_score"].mean()

# Creating DataFrames that contain the students that are passing math or reading
shs_students_passing_math = shs_student_data.loc[shs_student_data["Passing_Math"] == "Passing"]

shs_students_passing_reading = shs_student_data.loc[shs_student_data["Passing_Reading"] == "Passing"]

# Determinging the number of students at Shelton High School that are passing math or reading
shs_math_pass_count = shs_students_passing_math["Passing_Math"].count()
shs_reading_pass_count = shs_students_passing_reading["Passing_Reading"].count()

# Determining the number of students that are passing math and reading
if shs_math_pass_count > shs_reading_pass_count:
    shs_students_pass_math_reading = shs_students_passing_math.loc[shs_students_passing_math["Passing_Reading"] == "Passing"]
    shs_math_reading_pass_count = shs_students_pass_math_reading["Passing_Math"].count()
else:
    shs_students_pass_math_reading = shs_students_passing_reading.loc[shs_students_passing_reading["Passing_Math"] == "Passing"]
    shs_math_reading_pass_count = shs_students_pass_math_reading["Passing_Reading"].count()

# Calculate percentage of students at Shelton High School passing math and/or reading
shs_pct_pass_math = (shs_math_pass_count / shs_student_count)

shs_pct_pass_reading = (shs_reading_pass_count / shs_student_count)

shs_pct_pass_math_reading = (shs_math_reading_pass_count / shs_student_count)

#print(shs_student_count)
#print(shs_avg_math_score)
#print(shs_avg_reading_score)
#print(shs_pct_pass_math)
#print(shs_pct_pass_reading)
#print(shs_pct_pass_math_reading)

shs_summary = pd.DataFrame({"School Name": ["Shelton High School"],
                            "Total Students": ["{:,}".format(shs_student_count)],
                            "Average Math Score": [shs_avg_math_score],
                            "Average Reading Score": [shs_avg_reading_score],
                            "% Passing Math": ["{:.2%}".format(shs_pct_pass_math)],
                            "% Passing Reading": ["{:.2%}".format(shs_pct_pass_reading)],
                            "% Overall Passing": ["{:.2%}".format(shs_pct_pass_math_reading)]})

shs_summary

,School Name,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Shelton High School,"1,761",83.359455,83.725724,93.87%,95.85%,89.89%

In [19]:
# Collecting student informaiton for Hernandez High School
hzhs_student_data = complete_students_data.loc[complete_students_data["school_name"] == "Hernandez High School"]
hzhs_student_count = hzhs_student_data["student_name"].count()

# Calculation average math and reading scores for Hernandez High School
hzhs_avg_math_score = hzhs_student_data["math_score"].mean()
hzhs_avg_reading_score = hzhs_student_data["reading_score"].mean()

# Creating DataFrames that contain the students that are passing math or reading
hzhs_students_passing_math = hzhs_student_data.loc[hzhs_student_data["Passing_Math"] == "Passing"]

hzhs_students_passing_reading = hzhs_student_data.loc[hzhs_student_data["Passing_Reading"] == "Passing"]

# Determinging the number of students at Hernandez High School that are passing math or reading
hzhs_math_pass_count = hzhs_students_passing_math["Passing_Math"].count()
hzhs_reading_pass_count = hzhs_students_passing_reading["Passing_Reading"].count()

# Determining the number of students that are passing math and reading
if hzhs_math_pass_count > hzhs_reading_pass_count:
    hzhs_students_pass_math_reading = hzhs_students_passing_math.loc[hzhs_students_passing_math["Passing_Reading"] == "Passing"]
    hzhs_math_reading_pass_count = hzhs_students_pass_math_reading["Passing_Math"].count()
else:
    hzhs_students_pass_math_reading = hzhs_students_passing_reading.loc[hzhs_students_passing_reading["Passing_Math"] == "Passing"]
    hzhs_math_reading_pass_count = hzhs_students_pass_math_reading["Passing_Reading"].count()

# Calculate percentage of students at Hernandez High School passing math and/or reading
hzhs_pct_pass_math = (hzhs_math_pass_count / hzhs_student_count)

hzhs_pct_pass_reading = (hzhs_reading_pass_count / hzhs_student_count)

hzhs_pct_pass_math_reading = (hzhs_math_reading_pass_count / hzhs_student_count)

#print(hzhs_student_count)
#print(hzhs_avg_math_score)
#print(hzhs_avg_reading_score)
#print(hzhs_pct_pass_math)
#print(hzhs_pct_pass_reading)
#print(hzhs_pct_pass_math_reading)

hzhs_summary = pd.DataFrame({"School Name": ["Hernandez High School"],
                             "Total Students": ["{:,}".format(hzhs_student_count)],
                            "Average Math Score": [hzhs_avg_math_score],
                            "Average Reading Score": [hzhs_avg_reading_score],
                            "% Passing Math": ["{:.2%}".format(hzhs_pct_pass_math)],
                            "% Passing Reading": ["{:.2%}".format(hzhs_pct_pass_reading)],
                            "% Overall Passing": ["{:.2%}".format(hzhs_pct_pass_math_reading)]})

hzhs_summary

,School Name,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Hernandez High School,"4,635",77.289752,80.934412,66.75%,80.86%,53.53%

In [20]:
# Collecting student informaiton for Griffin High School
ghs_student_data = complete_students_data.loc[complete_students_data["school_name"] == "Griffin High School"]
ghs_student_count = ghs_student_data["student_name"].count()

# Calculation average math and reading scores for Griffin High School
ghs_avg_math_score = ghs_student_data["math_score"].mean()
ghs_avg_reading_score = ghs_student_data["reading_score"].mean()

# Creating DataFrames that contain the students that are passing math or reading
ghs_students_passing_math = ghs_student_data.loc[ghs_student_data["Passing_Math"] == "Passing"]

ghs_students_passing_reading = ghs_student_data.loc[ghs_student_data["Passing_Reading"] == "Passing"]

# Determinging the number of students at Griffin High School that are passing math or reading
ghs_math_pass_count = ghs_students_passing_math["Passing_Math"].count()
ghs_reading_pass_count = ghs_students_passing_reading["Passing_Reading"].count()

# Determining the number of students that are passing math and reading
if ghs_math_pass_count > ghs_reading_pass_count:
    ghs_students_pass_math_reading = ghs_students_passing_math.loc[ghs_students_passing_math["Passing_Reading"] == "Passing"]
    ghs_math_reading_pass_count = ghs_students_pass_math_reading["Passing_Math"].count()
else:
    ghs_students_pass_math_reading = ghs_students_passing_reading.loc[ghs_students_passing_reading["Passing_Math"] == "Passing"]
    ghs_math_reading_pass_count = ghs_students_pass_math_reading["Passing_Reading"].count()

# Calculate percentage of students at Griffin High School passing math and/or reading
ghs_pct_pass_math = (ghs_math_pass_count / ghs_student_count)

ghs_pct_pass_reading = (ghs_reading_pass_count / ghs_student_count)

ghs_pct_pass_math_reading = (ghs_math_reading_pass_count / ghs_student_count)

#print(ghs_student_count)
#print(ghs_avg_math_score)
#print(ghs_avg_reading_score)
#print(ghs_pct_pass_math)
#print(ghs_pct_pass_reading)
#print(ghs_pct_pass_math_reading)

ghs_summary = pd.DataFrame({"School Name": ["Griffin High School"],
                            "Total Students": ["{:,}".format(ghs_student_count)],
                            "Average Math Score": [ghs_avg_math_score],
                            "Average Reading Score": [ghs_avg_reading_score],
                            "% Passing Math": ["{:.2%}".format(ghs_pct_pass_math)],
                            "% Passing Reading": ["{:.2%}".format(ghs_pct_pass_reading)],
                            "% Overall Passing": ["{:.2%}".format(ghs_pct_pass_math_reading)]})

ghs_summary

,School Name,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Griffin High School,"1,468",83.351499,83.816757,93.39%,97.14%,90.60%

In [21]:
# Collecting student informaiton for Wilson High School
whs_student_data = complete_students_data.loc[complete_students_data["school_name"] == "Wilson High School"]
whs_student_count = whs_student_data["student_name"].count()

# Calculation average math and reading scores for Wilson High School
whs_avg_math_score = whs_student_data["math_score"].mean()
whs_avg_reading_score = whs_student_data["reading_score"].mean()

# Creating DataFrames that contain the students that are passing math or reading
whs_students_passing_math = whs_student_data.loc[whs_student_data["Passing_Math"] == "Passing"]

whs_students_passing_reading = whs_student_data.loc[whs_student_data["Passing_Reading"] == "Passing"]

# Determinging the number of students at Wilson High School that are passing math or reading
whs_math_pass_count = whs_students_passing_math["Passing_Math"].count()
whs_reading_pass_count = whs_students_passing_reading["Passing_Reading"].count()

# Determining the number of students that are passing math and reading
if whs_math_pass_count > whs_reading_pass_count:
    whs_students_pass_math_reading = whs_students_passing_math.loc[whs_students_passing_math["Passing_Reading"] == "Passing"]
    whs_math_reading_pass_count = whs_students_pass_math_reading["Passing_Math"].count()
else:
    whs_students_pass_math_reading = whs_students_passing_reading.loc[whs_students_passing_reading["Passing_Math"] == "Passing"]
    whs_math_reading_pass_count = whs_students_pass_math_reading["Passing_Reading"].count()

# Calculate percentage of students at Wilson High School passing math and/or reading
whs_pct_pass_math = (whs_math_pass_count / whs_student_count)

whs_pct_pass_reading = (whs_reading_pass_count / whs_student_count)

whs_pct_pass_math_reading = (whs_math_reading_pass_count / whs_student_count)

#print(whs_student_count)
#print(whs_avg_math_score)
#print(whs_avg_reading_score)
#print(whs_pct_pass_math)
#print(whs_pct_pass_reading)
#print(whs_pct_pass_math_reading)

whs_summary = pd.DataFrame({"School Name": ["Wilson High School"],
                            "Total Students": ["{:,}".format(whs_student_count)],
                            "Average Math Score": [whs_avg_math_score],
                            "Average Reading Score": [whs_avg_reading_score],
                            "% Passing Math": ["{:.2%}".format(whs_pct_pass_math)],
                            "% Passing Reading": ["{:.2%}".format(whs_pct_pass_reading)],
                            "% Overall Passing": ["{:.2%}".format(whs_pct_pass_math_reading)]})

whs_summary

,School Name,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Wilson High School,"2,283",83.274201,83.989488,93.87%,96.54%,90.58%

In [22]:
# Collecting student informaiton for Cabrera High School
chs_student_data = complete_students_data.loc[complete_students_data["school_name"] == "Cabrera High School"]
chs_student_count = chs_student_data["student_name"].count()

# Calculation average math and reading scores for Cabrera High School
chs_avg_math_score = chs_student_data["math_score"].mean()
chs_avg_reading_score = chs_student_data["reading_score"].mean()

# Creating DataFrames that contain the students that are passing math or reading
chs_students_passing_math = chs_student_data.loc[chs_student_data["Passing_Math"] == "Passing"]

chs_students_passing_reading = chs_student_data.loc[chs_student_data["Passing_Reading"] == "Passing"]

# Determinging the number of students at Cabrera High School that are passing math or reading
chs_math_pass_count = chs_students_passing_math["Passing_Math"].count()
chs_reading_pass_count = chs_students_passing_reading["Passing_Reading"].count()

# Determining the number of students that are passing math and reading
if chs_math_pass_count > chs_reading_pass_count:
    chs_students_pass_math_reading = chs_students_passing_math.loc[chs_students_passing_math["Passing_Reading"] == "Passing"]
    chs_math_reading_pass_count = chs_students_pass_math_reading["Passing_Math"].count()
else:
    chs_students_pass_math_reading = chs_students_passing_reading.loc[chs_students_passing_reading["Passing_Math"] == "Passing"]
    chs_math_reading_pass_count = chs_students_pass_math_reading["Passing_Reading"].count()

# Calculate percentage of students at Cabrera High School passing math and/or reading
chs_pct_pass_math = (chs_math_pass_count / chs_student_count)

chs_pct_pass_reading = (chs_reading_pass_count / chs_student_count)

chs_pct_pass_math_reading = (chs_math_reading_pass_count / chs_student_count)

#print(chs_student_count)
#print(chs_avg_math_score)
#print(chs_avg_reading_score)
#print(chs_pct_pass_math)
#print(chs_pct_pass_reading)
#print(chs_pct_pass_math_reading)

chs_summary = pd.DataFrame({"School Name": ["Cabrera High School"],
                            "Total Students": ["{:,}".format(chs_student_count)],
                            "Average Math Score": [chs_avg_math_score],
                            "Average Reading Score": [chs_avg_reading_score],
                            "% Passing Math": ["{:.2%}".format(chs_pct_pass_math)],
                            "% Passing Reading": ["{:.2%}".format(chs_pct_pass_reading)],
                            "% Overall Passing": ["{:.2%}".format(chs_pct_pass_math_reading)]})

chs_summary

,School Name,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Cabrera High School,"1,858",83.061895,83.97578,94.13%,97.04%,91.33%

In [23]:
# Collecting student informaiton for Bailey High School
bhs_student_data = complete_students_data.loc[complete_students_data["school_name"] == "Bailey High School"]
bhs_student_count = bhs_student_data["student_name"].count()

# Calculation average math and reading scores for Bailey High School
bhs_avg_math_score = bhs_student_data["math_score"].mean()
bhs_avg_reading_score = bhs_student_data["reading_score"].mean()

# Creating DataFrames that contain the students that are passing math or reading
bhs_students_passing_math = bhs_student_data.loc[bhs_student_data["Passing_Math"] == "Passing"]

bhs_students_passing_reading = bhs_student_data.loc[bhs_student_data["Passing_Reading"] == "Passing"]

# Determinging the number of students at Bailey High School that are passing math or reading
bhs_math_pass_count = bhs_students_passing_math["Passing_Math"].count()
bhs_reading_pass_count = bhs_students_passing_reading["Passing_Reading"].count()

# Determining the number of students that are passing math and reading
if bhs_math_pass_count > bhs_reading_pass_count:
    bhs_students_pass_math_reading = bhs_students_passing_math.loc[bhs_students_passing_math["Passing_Reading"] == "Passing"]
    bhs_math_reading_pass_count = bhs_students_pass_math_reading["Passing_Math"].count()
else:
    bhs_students_pass_math_reading = bhs_students_passing_reading.loc[bhs_students_passing_reading["Passing_Math"] == "Passing"]
    bhs_math_reading_pass_count = bhs_students_pass_math_reading["Passing_Reading"].count()

# Calculate percentage of students at Bailey High School passing math and/or reading
bhs_pct_pass_math = (bhs_math_pass_count / bhs_student_count)

bhs_pct_pass_reading = (bhs_reading_pass_count / bhs_student_count)

bhs_pct_pass_math_reading = (bhs_math_reading_pass_count / bhs_student_count)

#print(bhs_student_count)
#print(bhs_avg_math_score)
#print(bhs_avg_reading_score)
#print(bhs_pct_pass_math)
#print(bhs_pct_pass_reading)
#print(bhs_pct_pass_math_reading)

bhs_summary = pd.DataFrame({"School Name": ["Bailey High School"],
                            "Total Students": ["{:,}".format(bhs_student_count)],
                            "Average Math Score": [bhs_avg_math_score],
                            "Average Reading Score": [bhs_avg_reading_score],
                            "% Passing Math": ["{:.2%}".format(bhs_pct_pass_math)],
                            "% Passing Reading": ["{:.2%}".format(bhs_pct_pass_reading)],
                            "% Overall Passing": ["{:.2%}".format(bhs_pct_pass_math_reading)]})

bhs_summary

,School Name,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Bailey High School,"4,976",77.048432,81.033963,66.68%,81.93%,54.64%

In [24]:
# Collecting student informaiton for Holden High School
hnhs_student_data = complete_students_data.loc[complete_students_data["school_name"] == "Holden High School"]
hnhs_student_count = hnhs_student_data["student_name"].count()

# Calculation average math and reading scores for Holden High School
hnhs_avg_math_score = hnhs_student_data["math_score"].mean()
hnhs_avg_reading_score = hnhs_student_data["reading_score"].mean()

# Creating DataFrames that contain the students that are passing math or reading
hnhs_students_passing_math = hnhs_student_data.loc[hnhs_student_data["Passing_Math"] == "Passing"]

hnhs_students_passing_reading = hnhs_student_data.loc[hnhs_student_data["Passing_Reading"] == "Passing"]

# Determinging the number of students at Holden High School that are passing math or reading
hnhs_math_pass_count = hnhs_students_passing_math["Passing_Math"].count()
hnhs_reading_pass_count = hnhs_students_passing_reading["Passing_Reading"].count()

# Determining the number of students that are passing math and reading
if hnhs_math_pass_count > hnhs_reading_pass_count:
    hnhs_students_pass_math_reading = hnhs_students_passing_math.loc[hnhs_students_passing_math["Passing_Reading"] == "Passing"]
    hnhs_math_reading_pass_count = hnhs_students_pass_math_reading["Passing_Math"].count()
else:
    hnhs_students_pass_math_reading = hnhs_students_passing_reading.loc[hnhs_students_passing_reading["Passing_Math"] == "Passing"]
    hnhs_math_reading_pass_count = hnhs_students_pass_math_reading["Passing_Reading"].count()

# Calculate percentage of students at Holden High School passing math and/or reading
hnhs_pct_pass_math = (hnhs_math_pass_count / hnhs_student_count)

hnhs_pct_pass_reading = (hnhs_reading_pass_count / hnhs_student_count)

hnhs_pct_pass_math_reading = (hnhs_math_reading_pass_count / hnhs_student_count)

#print(hnhs_student_count)
#print(hnhs_avg_math_score)
#print(hnhs_avg_reading_score)
#print(hnhs_pct_pass_math)
#print(hnhs_pct_pass_reading)
#print(hnhs_pct_pass_math_reading)

hnhs_summary = pd.DataFrame({"School Name": ["Holden High School"],
                            "Total Students": ["{:,}".format(hnhs_student_count)],
                            "Average Math Score": [hnhs_avg_math_score],
                            "Average Reading Score": [hnhs_avg_reading_score],
                            "% Passing Math": ["{:.2%}".format(hnhs_pct_pass_math)],
                            "% Passing Reading": ["{:.2%}".format(hnhs_pct_pass_reading)],
                            "% Overall Passing": ["{:.2%}".format(hnhs_pct_pass_math_reading)]})

hnhs_summary

,School Name,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Holden High School,427,83.803279,83.814988,92.51%,96.25%,89.23%

In [25]:
# Collecting student informaiton for Pena High School
phs_student_data = complete_students_data.loc[complete_students_data["school_name"] == "Pena High School"]
phs_student_count = phs_student_data["student_name"].count()

# Calculation average math and reading scores for Pena High School
phs_avg_math_score = phs_student_data["math_score"].mean()
phs_avg_reading_score = phs_student_data["reading_score"].mean()

# Creating DataFrames that contain the students that are passing math or reading
phs_students_passing_math = phs_student_data.loc[phs_student_data["Passing_Math"] == "Passing"]

phs_students_passing_reading = phs_student_data.loc[phs_student_data["Passing_Reading"] == "Passing"]

# Determinging the number of students at Pena High School that are passing math or reading
phs_math_pass_count = phs_students_passing_math["Passing_Math"].count()
phs_reading_pass_count = phs_students_passing_reading["Passing_Reading"].count()

# Determining the number of students that are passing math and reading
if phs_math_pass_count > phs_reading_pass_count:
    phs_students_pass_math_reading = phs_students_passing_math.loc[phs_students_passing_math["Passing_Reading"] == "Passing"]
    phs_math_reading_pass_count = phs_students_pass_math_reading["Passing_Math"].count()
else:
    phs_students_pass_math_reading = phs_students_passing_reading.loc[phs_students_passing_reading["Passing_Math"] == "Passing"]
    phs_math_reading_pass_count = phs_students_pass_math_reading["Passing_Reading"].count()

# Calculate percentage of students at Pena High School passing math and/or reading
phs_pct_pass_math = (phs_math_pass_count / phs_student_count)

phs_pct_pass_reading = (phs_reading_pass_count / phs_student_count)

phs_pct_pass_math_reading = (phs_math_reading_pass_count / phs_student_count)

#print(phs_student_count)
#print(phs_avg_math_score)
#print(phs_avg_reading_score)
#print(phs_pct_pass_math)
#print(phs_pct_pass_reading)
#print(phs_pct_pass_math_reading)

phs_summary = pd.DataFrame({"School Name": ["Pena High School"],
                            "Total Students": ["{:,}".format(phs_student_count)],
                            "Average Math Score": [phs_avg_math_score],
                            "Average Reading Score": [phs_avg_reading_score],
                            "% Passing Math": ["{:.2%}".format(phs_pct_pass_math)],
                            "% Passing Reading": ["{:.2%}".format(phs_pct_pass_reading)],
                            "% Overall Passing": ["{:.2%}".format(phs_pct_pass_math_reading)]})

phs_summary

,School Name,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Pena High School,962,83.839917,84.044699,94.59%,95.95%,90.54%

In [26]:
# Collecting student informaiton for Wright High School
wths_student_data = complete_students_data.loc[complete_students_data["school_name"] == "Wright High School"]
wths_student_count = wths_student_data["student_name"].count()

# Calculation average math and reading scores for Wright High School
wths_avg_math_score = wths_student_data["math_score"].mean()
wths_avg_reading_score = wths_student_data["reading_score"].mean()

# Creating DataFrames that contain the students that are passing math or reading
wths_students_passing_math = wths_student_data.loc[wths_student_data["Passing_Math"] == "Passing"]

wths_students_passing_reading = wths_student_data.loc[wths_student_data["Passing_Reading"] == "Passing"]

# Determinging the number of students at Wright High School that are passing math or reading
wths_math_pass_count = wths_students_passing_math["Passing_Math"].count()
wths_reading_pass_count = wths_students_passing_reading["Passing_Reading"].count()

# Determining the number of students that are passing math and reading
if wths_math_pass_count > wths_reading_pass_count:
    wths_students_pass_math_reading = wths_students_passing_math.loc[wths_students_passing_math["Passing_Reading"] == "Passing"]
    wths_math_reading_pass_count = wths_students_pass_math_reading["Passing_Math"].count()
else:
    wths_students_pass_math_reading = wths_students_passing_reading.loc[wths_students_passing_reading["Passing_Math"] == "Passing"]
    wths_math_reading_pass_count = wths_students_pass_math_reading["Passing_Reading"].count()

# Calculate percentage of students at Wright High School passing math and/or reading
wths_pct_pass_math = (wths_math_pass_count / wths_student_count)

wths_pct_pass_reading = (wths_reading_pass_count / wths_student_count)

wths_pct_pass_math_reading = (wths_math_reading_pass_count / wths_student_count)

#print(wths_student_count)
#print(wths_avg_math_score)
#print(wths_avg_reading_score)
#print(wths_pct_pass_math)
#print(wths_pct_pass_reading)
#print(wths_pct_pass_math_reading)

wths_summary = pd.DataFrame({"School Name": ["Wright High School"],
                            "Total Students": ["{:,}".format(wths_student_count)],
                            "Average Math Score": [wths_avg_math_score],
                            "Average Reading Score": [wths_avg_reading_score],
                            "% Passing Math": ["{:.2%}".format(wths_pct_pass_math)],
                            "% Passing Reading": ["{:.2%}".format(wths_pct_pass_reading)],
                            "% Overall Passing": ["{:.2%}".format(wths_pct_pass_math_reading)]})

wths_summary

,School Name,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Wright High School,"1,800",83.682222,83.955,93.33%,96.61%,90.33%

In [27]:
# Collecting student informaiton for Rodriguez High School
rhs_student_data = complete_students_data.loc[complete_students_data["school_name"] == "Rodriguez High School"]
rhs_student_count = rhs_student_data["student_name"].count()

# Calculation average math and reading scores for Rodriguez High School
rhs_avg_math_score = rhs_student_data["math_score"].mean()
rhs_avg_reading_score = rhs_student_data["reading_score"].mean()

# Creating DataFrames that contain the students that are passing math or reading
rhs_students_passing_math = rhs_student_data.loc[rhs_student_data["Passing_Math"] == "Passing"]

rhs_students_passing_reading = rhs_student_data.loc[rhs_student_data["Passing_Reading"] == "Passing"]

# Determinging the number of students at Rodriguez High School that are passing math or reading
rhs_math_pass_count = rhs_students_passing_math["Passing_Math"].count()
rhs_reading_pass_count = rhs_students_passing_reading["Passing_Reading"].count()

# Determining the number of students that are passing math and reading
if rhs_math_pass_count > rhs_reading_pass_count:
    rhs_students_pass_math_reading = rhs_students_passing_math.loc[rhs_students_passing_math["Passing_Reading"] == "Passing"]
    rhs_math_reading_pass_count = rhs_students_pass_math_reading["Passing_Math"].count()
else:
    rhs_students_pass_math_reading = rhs_students_passing_reading.loc[rhs_students_passing_reading["Passing_Math"] == "Passing"]
    rhs_math_reading_pass_count = rhs_students_pass_math_reading["Passing_Reading"].count()

# Calculate percentage of students at Rodriguez High School passing math and/or reading
rhs_pct_pass_math = (rhs_math_pass_count / rhs_student_count)

rhs_pct_pass_reading = (rhs_reading_pass_count / rhs_student_count)

rhs_pct_pass_math_reading = (rhs_math_reading_pass_count / rhs_student_count)

#print(rhs_student_count)
#print(rhs_avg_math_score)
#print(rhs_avg_reading_score)
#print(rhs_pct_pass_math)
#print(rhs_pct_pass_reading)
#print(rhs_pct_pass_math_reading)

rhs_summary = pd.DataFrame({"School Name": ["Rodriguez High School"],
                            "Total Students": ["{:,}".format(rhs_student_count)],
                            "Average Math Score": [rhs_avg_math_score],
                            "Average Reading Score": [rhs_avg_reading_score],
                            "% Passing Math": ["{:.2%}".format(rhs_pct_pass_math)],
                            "% Passing Reading": ["{:.2%}".format(rhs_pct_pass_reading)],
                            "% Overall Passing": ["{:.2%}".format(rhs_pct_pass_math_reading)]})

rhs_summary

,School Name,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Rodriguez High School,"3,999",76.842711,80.744686,66.37%,80.22%,52.99%

In [28]:
# Collecting student informaiton for Johnson High School
jhs_student_data = complete_students_data.loc[complete_students_data["school_name"] == "Johnson High School"]
jhs_student_count = jhs_student_data["student_name"].count()

# Calculation average math and reading scores for Johnson High School
jhs_avg_math_score = jhs_student_data["math_score"].mean()
jhs_avg_reading_score = jhs_student_data["reading_score"].mean()

# Creating DataFrames that contain the students that are passing math or reading
jhs_students_passing_math = jhs_student_data.loc[jhs_student_data["Passing_Math"] == "Passing"]

jhs_students_passing_reading = jhs_student_data.loc[jhs_student_data["Passing_Reading"] == "Passing"]

# Determinging the number of students at Johnson High School that are passing math or reading
jhs_math_pass_count = jhs_students_passing_math["Passing_Math"].count()
jhs_reading_pass_count = jhs_students_passing_reading["Passing_Reading"].count()

# Determining the number of students that are passing math and reading
if jhs_math_pass_count > jhs_reading_pass_count:
    jhs_students_pass_math_reading = jhs_students_passing_math.loc[jhs_students_passing_math["Passing_Reading"] == "Passing"]
    jhs_math_reading_pass_count = jhs_students_pass_math_reading["Passing_Math"].count()
else:
    jhs_students_pass_math_reading = jhs_students_passing_reading.loc[jhs_students_passing_reading["Passing_Math"] == "Passing"]
    jhs_math_reading_pass_count = jhs_students_pass_math_reading["Passing_Reading"].count()

# Calculate percentage of students at Johnson High School passing math and/or reading
jhs_pct_pass_math = (jhs_math_pass_count / jhs_student_count)

jhs_pct_pass_reading = (jhs_reading_pass_count / jhs_student_count)

jhs_pct_pass_math_reading = (jhs_math_reading_pass_count / jhs_student_count)

#print(jhs_student_count)
#print(jhs_avg_math_score)
#print(jhs_avg_reading_score)
#print(jhs_pct_pass_math)
#print(jhs_pct_pass_reading)
#print(jhs_pct_pass_math_reading)

jhs_summary = pd.DataFrame({"School Name": ["Johnson High School"],
                            "Total Students": ["{:,}".format(jhs_student_count)],
                            "Average Math Score": [jhs_avg_math_score],
                            "Average Reading Score": [jhs_avg_reading_score],
                            "% Passing Math": ["{:.2%}".format(jhs_pct_pass_math)],
                            "% Passing Reading": ["{:.2%}".format(jhs_pct_pass_reading)],
                            "% Overall Passing": ["{:.2%}".format(jhs_pct_pass_math_reading)]})

jhs_summary

,School Name,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Johnson High School,"4,761",77.072464,80.966394,66.06%,81.22%,53.54%

In [29]:
# Collecting student informaiton for Ford High School
fdhs_student_data = complete_students_data.loc[complete_students_data["school_name"] == "Ford High School"]
fdhs_student_count = fdhs_student_data["student_name"].count()

# Calculation average math and reading scores for Ford High School
fdhs_avg_math_score = fdhs_student_data["math_score"].mean()
fdhs_avg_reading_score = fdhs_student_data["reading_score"].mean()

# Creating DataFrames that contain the students that are passing math or reading
fdhs_students_passing_math = fdhs_student_data.loc[fdhs_student_data["Passing_Math"] == "Passing"]

fdhs_students_passing_reading = fdhs_student_data.loc[fdhs_student_data["Passing_Reading"] == "Passing"]

# Determinging the number of students at Ford High School that are passing math or reading
fdhs_math_pass_count = fdhs_students_passing_math["Passing_Math"].count()
fdhs_reading_pass_count = fdhs_students_passing_reading["Passing_Reading"].count()

# Determining the number of students that are passing math and reading
if fdhs_math_pass_count > fdhs_reading_pass_count:
    fdhs_students_pass_math_reading = fdhs_students_passing_math.loc[fdhs_students_passing_math["Passing_Reading"] == "Passing"]
    fdhs_math_reading_pass_count = fdhs_students_pass_math_reading["Passing_Math"].count()
else:
    fdhs_students_pass_math_reading = fdhs_students_passing_reading.loc[fdhs_students_passing_reading["Passing_Math"] == "Passing"]
    fdhs_math_reading_pass_count = fdhs_students_pass_math_reading["Passing_Reading"].count()

# Calculate percentage of students at Ford High School passing math and/or reading
fdhs_pct_pass_math = (fdhs_math_pass_count / fdhs_student_count)

fdhs_pct_pass_reading = (fdhs_reading_pass_count / fdhs_student_count)

fdhs_pct_pass_math_reading = (fdhs_math_reading_pass_count / fdhs_student_count)

#print(fdhs_student_count)
#print(fdhs_avg_math_score)
#print(fdhs_avg_reading_score)
#print(fdhs_pct_pass_math)
#print(fdhs_pct_pass_reading)
#print(fdhs_pct_pass_math_reading)

fdhs_summary = pd.DataFrame({"School Name": ["Ford High School"],
                            "Total Students": ["{:,}".format(fdhs_student_count)],
                            "Average Math Score": [fdhs_avg_math_score],
                            "Average Reading Score": [fdhs_avg_reading_score],
                            "% Passing Math": ["{:.2%}".format(fdhs_pct_pass_math)],
                            "% Passing Reading": ["{:.2%}".format(fdhs_pct_pass_reading)],
                            "% Overall Passing": ["{:.2%}".format(fdhs_pct_pass_math_reading)]})

fdhs_summary

,School Name,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Ford High School,"2,739",77.102592,80.746258,68.31%,79.30%,54.29%

In [30]:
# Collecting student informaiton for Thomas High School
ths_student_data = complete_students_data.loc[complete_students_data["school_name"] == "Thomas High School"]
ths_student_count = ths_student_data["student_name"].count()

# Calculation average math and reading scores for Thomas High School
ths_avg_math_score = ths_student_data["math_score"].mean()
ths_avg_reading_score = ths_student_data["reading_score"].mean()

# Creating DataFrames that contain the students that are passing math or reading
ths_students_passing_math = ths_student_data.loc[ths_student_data["Passing_Math"] == "Passing"]

ths_students_passing_reading = ths_student_data.loc[ths_student_data["Passing_Reading"] == "Passing"]

# Determinging the number of students at Thomas High School that are passing math or reading
ths_math_pass_count = ths_students_passing_math["Passing_Math"].count()
ths_reading_pass_count = ths_students_passing_reading["Passing_Reading"].count()

# Determining the number of students that are passing math and reading
if ths_math_pass_count > ths_reading_pass_count:
    ths_students_pass_math_reading = ths_students_passing_math.loc[ths_students_passing_math["Passing_Reading"] == "Passing"]
    ths_math_reading_pass_count = ths_students_pass_math_reading["Passing_Math"].count()
else:
    ths_students_pass_math_reading = ths_students_passing_reading.loc[ths_students_passing_reading["Passing_Math"] == "Passing"]
    ths_math_reading_pass_count = ths_students_pass_math_reading["Passing_Reading"].count()

# Calculate percentage of students at Thomas High School passing math and/or reading
ths_pct_pass_math = (ths_math_pass_count / ths_student_count)

ths_pct_pass_reading = (ths_reading_pass_count / ths_student_count)

ths_pct_pass_math_reading = (ths_math_reading_pass_count / ths_student_count)

#print(ths_student_count)
#print(ths_avg_math_score)
#print(ths_avg_reading_score)
#print(ths_pct_pass_math)
#print(ths_pct_pass_reading)
#print(ths_pct_pass_math_reading)

ths_summary = pd.DataFrame({"School Name": ["Thomas High School"],
                            "Total Students": ["{:,}".format(ths_student_count)],
                            "Average Math Score": [ths_avg_math_score],
                            "Average Reading Score": [ths_avg_reading_score],
                            "% Passing Math": ["{:.2%}".format(ths_pct_pass_math)],
                            "% Passing Reading": ["{:.2%}".format(ths_pct_pass_reading)],
                            "% Overall Passing": ["{:.2%}".format(ths_pct_pass_math_reading)]})

ths_summary

,School Name,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Thomas High School,"1,635",83.418349,83.84893,93.27%,97.31%,90.95%

In [31]:
# Combining the individual school DataFrames into one.
school_dfs = [hhs_summary, fhs_summary,shs_summary, hzhs_summary, ghs_summary, whs_summary, chs_summary,
              bhs_summary, hnhs_summary, phs_summary, wths_summary, rhs_summary, jhs_summary, fdhs_summary,
             ths_summary]

merged_schools = pd.concat(school_dfs)

In [32]:
# Rename the column containing the school name
complete_schools_data = complete_schools_data.rename(columns = {"school_name": "School Name", "type": "School Type", 
                                                               "budget": "Total School Budget"})

In [34]:
# Merging school summary data with district data.

district_school_summary = pd.merge(complete_schools_data, merged_schools, on="School Name")

district_school_summary

,School ID,School Name,School Type,size,Total School Budget,Per Student Budget,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,0,Huang High School,District,2917,1910635,655.0,"2,917",76.629414,81.182722,65.68%,81.32%,53.51%
1,1,Figueroa High School,District,2949,1884411,639.0,"2,949",76.711767,81.158020,65.99%,80.74%,53.20%
2,2,Shelton High School,Charter,1761,1056600,600.0,"1,761",83.359455,83.725724,93.87%,95.85%,89.89%
3,3,Hernandez High School,District,4635,3022020,652.0,"4,635",77.289752,80.934412,66.75%,80.86%,53.53%
4,4,Griffin High School,Charter,1468,917500,625.0,"1,468",83.351499,83.816757,93.39%,97.14%,90.60%
5,5,Wilson High School,Charter,2283,1319574,578.0,"2,283",83.274201,83.989488,93.87%,96.54%,90.58%
6,6,Cabrera High School,Charter,1858,1081356,582.0,"1,858",83.061895,83.975780,94.13%,97.04%,91.33%
7,7,Bailey High School,District,4976,3124928,628.0,"4,976",77.048432,81.033963,66.68%,81.93%,54.64%
8,8,Holden High School,Charter,427,248087,581.0,427,83.803279,83.814988,92.51%,96.25%,89.23%
9,9,Pena High School,Charter,962,585858,609.0,962,83.839917,84.044699,94.59%,95.95%,90.54%
10,10,Wright High School,Charter,1800,1049400,583.0,"1,800",83.682222,83.955000,93.33%,96.61%,90.33%
11,11,Rodriguez High School,District,3999,2547363,637.0,"3,999",76.842711,80.744686,66.37%,80.22%,52.99%
12,12,Johnson High School,District,4761,3094650,650.0,"4,761",77.072464,80.966394,66.06%,81.22%,53.54%
13,13,Ford High School,District,2739,1763916,644.0,"2,739",77.102592,80.746258,68.31%,79.30%,54.29%
14,14,Thomas High School,Charter,1635,1043130,638.0,"1,635",83.418349,83.848930,93.27%,97.31%,90.95%

In [35]:
# Trimming the final DataFrame to display the correct columns
schools_summary = district_school_summary.drop(district_school_summary.columns[[0, 3]], axis=1)

schools_summary = schools_summary.reindex(columns= ['School Name', 'School Type', 'Total Students',
                                                    'Total School Budget', 'Per Student Budget',
                                                    'Average Math Score', 'Average Reading Score',
                                                    '% Passing Math', '% Passing Reading',
                                                    '% Overall Passing'])

schools_summary

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Huang High School,District,"2,917",1910635,655.0,76.629414,81.182722,65.68%,81.32%,53.51%
1,Figueroa High School,District,"2,949",1884411,639.0,76.711767,81.158020,65.99%,80.74%,53.20%
2,Shelton High School,Charter,"1,761",1056600,600.0,83.359455,83.725724,93.87%,95.85%,89.89%
3,Hernandez High School,District,"4,635",3022020,652.0,77.289752,80.934412,66.75%,80.86%,53.53%
4,Griffin High School,Charter,"1,468",917500,625.0,83.351499,83.816757,93.39%,97.14%,90.60%
5,Wilson High School,Charter,"2,283",1319574,578.0,83.274201,83.989488,93.87%,96.54%,90.58%
6,Cabrera High School,Charter,"1,858",1081356,582.0,83.061895,83.975780,94.13%,97.04%,91.33%
7,Bailey High School,District,"4,976",3124928,628.0,77.048432,81.033963,66.68%,81.93%,54.64%
8,Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.51%,96.25%,89.23%
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.59%,95.95%,90.54%
10,Wright High School,Charter,"1,800",1049400,583.0,83.682222,83.955000,93.33%,96.61%,90.33%
11,Rodriguez High School,District,"3,999",2547363,637.0,76.842711,80.744686,66.37%,80.22%,52.99%
12,Johnson High School,District,"4,761",3094650,650.0,77.072464,80.966394,66.06%,81.22%,53.54%
13,Ford High School,District,"2,739",1763916,644.0,77.102592,80.746258,68.31%,79.30%,54.29%
14,Thomas High School,Charter,"1,635",1043130,638.0,83.418349,83.848930,93.27%,97.31%,90.95%

In [36]:
# Applying formats to columns
schools_summary.style.format({'Total School Budget': "${0:,.2f}",
                             'Per Student Budget': "${0:,.2f}"})

schools_summary

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Huang High School,District,"2,917",1910635,655.0,76.629414,81.182722,65.68%,81.32%,53.51%
1,Figueroa High School,District,"2,949",1884411,639.0,76.711767,81.158020,65.99%,80.74%,53.20%
2,Shelton High School,Charter,"1,761",1056600,600.0,83.359455,83.725724,93.87%,95.85%,89.89%
3,Hernandez High School,District,"4,635",3022020,652.0,77.289752,80.934412,66.75%,80.86%,53.53%
4,Griffin High School,Charter,"1,468",917500,625.0,83.351499,83.816757,93.39%,97.14%,90.60%
5,Wilson High School,Charter,"2,283",1319574,578.0,83.274201,83.989488,93.87%,96.54%,90.58%
6,Cabrera High School,Charter,"1,858",1081356,582.0,83.061895,83.975780,94.13%,97.04%,91.33%
7,Bailey High School,District,"4,976",3124928,628.0,77.048432,81.033963,66.68%,81.93%,54.64%
8,Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.51%,96.25%,89.23%
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.59%,95.95%,90.54%
10,Wright High School,Charter,"1,800",1049400,583.0,83.682222,83.955000,93.33%,96.61%,90.33%
11,Rodriguez High School,District,"3,999",2547363,637.0,76.842711,80.744686,66.37%,80.22%,52.99%
12,Johnson High School,District,"4,761",3094650,650.0,77.072464,80.966394,66.06%,81.22%,53.54%
13,Ford High School,District,"2,739",1763916,644.0,77.102592,80.746258,68.31%,79.30%,54.29%
14,Thomas High School,Charter,"1,635",1043130,638.0,83.418349,83.848930,93.27%,97.31%,90.95%

In [37]:
# Finding the top 5 performing schools
top_performing_schools = schools_summary.sort_values(by=['% Overall Passing'], ascending=False)

top_performing_schools.head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
6,Cabrera High School,Charter,"1,858",1081356,582.0,83.061895,83.975780,94.13%,97.04%,91.33%
14,Thomas High School,Charter,"1,635",1043130,638.0,83.418349,83.848930,93.27%,97.31%,90.95%
4,Griffin High School,Charter,"1,468",917500,625.0,83.351499,83.816757,93.39%,97.14%,90.60%
5,Wilson High School,Charter,"2,283",1319574,578.0,83.274201,83.989488,93.87%,96.54%,90.58%
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.59%,95.95%,90.54%

In [38]:
# Finding the bottom 5 performing schools
bottom_performing_schools = schools_summary.sort_values(by=['% Overall Passing'])

bottom_performing_schools.head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
11,Rodriguez High School,District,"3,999",2547363,637.0,76.842711,80.744686,66.37%,80.22%,52.99%
1,Figueroa High School,District,"2,949",1884411,639.0,76.711767,81.158020,65.99%,80.74%,53.20%
0,Huang High School,District,"2,917",1910635,655.0,76.629414,81.182722,65.68%,81.32%,53.51%
3,Hernandez High School,District,"4,635",3022020,652.0,77.289752,80.934412,66.75%,80.86%,53.53%
12,Johnson High School,District,"4,761",3094650,650.0,77.072464,80.966394,66.06%,81.22%,53.54%

In [43]:
# Finding math and reading scores for each grade level at each school
grade_math_scores = complete_students_data[["student_name", "grade", "school_name", "math_score"]]
school_math_scores = grade_math_scores.groupby(['school_name', 'grade'])['math_score'].mean()

grade_reading_scores = complete_students_data[["student_name", "grade", "school_name", "reading_score"]]
school_reading_scores = grade_reading_scores.groupby(['school_name', 'grade'])['reading_score'].mean()

#print(school_math_scores.head())
#print(school_reading_scores.head())

school_name          grade
Bailey High School   10th     76.996772
                     11th     77.515588
                     12th     76.492218
                     9th      77.083676
Cabrera High School  10th     83.154506
Name: math_score, dtype: float64
school_name          grade
Bailey High School   10th     80.907183
                     11th     80.945643
                     12th     80.912451
                     9th      81.303155
Cabrera High School  10th     84.253219
Name: reading_score, dtype: float64

In [53]:
# Combine the average math and reading scores for each grade level at each high school.
school_math_reading_avg = pd.concat([school_math_scores, school_reading_scores], axis=1)

# Reset the index for the DataFrame.
school_math_reading_avg = school_math_reading_avg.reset_index()

In [59]:
# Sort the DataFrame to display in order by school and grade level.
avg_scores_school_grade = school_math_reading_avg.sort_values(['school_name', 'grade'])

avg_scores_school_grade

              school_name grade  math_score  reading_score
0      Bailey High School  10th   76.996772      80.907183
1      Bailey High School  11th   77.515588      80.945643
2      Bailey High School  12th   76.492218      80.912451
3      Bailey High School   9th   77.083676      81.303155
4     Cabrera High School  10th   83.154506      84.253219
5     Cabrera High School  11th   82.765560      83.788382
6     Cabrera High School  12th   83.277487      84.287958
7     Cabrera High School   9th   83.094697      83.676136
8    Figueroa High School  10th   76.539974      81.408912
9    Figueroa High School  11th   76.884344      80.640339
10   Figueroa High School  12th   77.151369      81.384863
11   Figueroa High School   9th   76.403037      81.198598
12       Ford High School  10th   77.672316      81.262712
13       Ford High School  11th   76.918058      80.403642
14       Ford High School  12th   76.179963      80.662338
15       Ford High School   9th   77.361345      80.632653
16    Griffin High School  10th   84.229064      83.706897
17    Griffin High School  11th   83.842105      84.288089
18    Griffin High School  12th   83.356164      84.013699
19    Griffin High School   9th   82.044010      83.369193
20  Hernandez High School  10th   77.337408      80.660147
21  Hernandez High School  11th   77.136029      81.396140
22  Hernandez High School  12th   77.186567      80.857143
23  Hernandez High School   9th   77.438495      80.866860
24     Holden High School  10th   83.429825      83.324561
25     Holden High School  11th   85.000000      83.815534
26     Holden High School  12th   82.855422      84.698795
27     Holden High School   9th   83.787402      83.677165
28      Huang High School  10th   75.908735      81.512386
29      Huang High School  11th   76.446602      81.417476
30      Huang High School  12th   77.225641      80.305983
31      Huang High School   9th   77.027251      81.290284
32    Johnson High School  10th   76.691117      80.773431
33    Johnson High School  11th   77.491653      80.616027
34    Johnson High School  12th   76.863248      81.227564
35    Johnson High School   9th   77.187857      81.260714
36       Pena High School  10th   83.372000      83.612000
37       Pena High School  11th   84.328125      84.335938
38       Pena High School  12th   84.121547      84.591160
39       Pena High School   9th   83.625455      83.807273
40  Rodriguez High School  10th   76.612500      80.629808
41  Rodriguez High School  11th   76.395626      80.864811
42  Rodriguez High School  12th   77.690748      80.376426
43  Rodriguez High School   9th   76.859966      80.993127
44    Shelton High School  10th   82.917411      83.441964
45    Shelton High School  11th   83.383495      84.373786
46    Shelton High School  12th   83.778976      82.781671
47    Shelton High School   9th   83.420755      84.122642
48     Thomas High School  10th   83.087886      84.254157
49     Thomas High School  11th   83.498795      83.585542
50     Thomas High School  12th   83.497041      83.831361
51     Thomas High School   9th   83.590022      83.728850
52     Wilson High School  10th   83.724422      84.021452
53     Wilson High School  11th   83.195326      83.764608
54     Wilson High School  12th   83.035794      84.317673
55     Wilson High School   9th   83.085578      83.939778
56     Wright High School  10th   84.010288      83.812757
57     Wright High School  11th   83.836782      84.156322
58     Wright High School  12th   83.644986      84.073171
59     Wright High School   9th   83.264706      83.833333