In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read in the data files to use for this assignment
csv_path = "../Resources/schools_complete.csv"
complete_schools_data = pd.read_csv(csv_path)

csv_path = "../Resources/students_complete.csv"
complete_students_data = pd.read_csv(csv_path)

In [3]:
# Confirm the school data loaded
complete_schools_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [4]:
# Confirm the student data loaded
complete_students_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [5]:
# Create bins for passing scores
bins = [0, 66, 100]

# Create labels for the bins
score_labels = ["Not Passing", "Passing"]

In [6]:
# Determine basic data for the District Summary
school_count = complete_schools_data["school_name"].count()
student_count = complete_students_data["student_name"].count()
district_budget = complete_schools_data["budget"].sum()
avg_district_math_score = complete_students_data["math_score"].mean()
avg_district_reading_score = complete_students_data["reading_score"].mean()

In [7]:
#print(school_count)
#print(student_count)
#print(district_budget)
#print(avg_district_math_score)
#print(avg_district_reading_score)

In [8]:
# Creating data sets for just math and reading scores
district_math_scores = complete_students_data[["student_name",
                                             "math_score"]]

district_reading_scores = complete_students_data[["student_name",
                                             "reading_score"]]

In [9]:
#print(district_math_scores.head())
#print(district_reading_scores.head())

In [10]:
# Place the passing determination into a new column inside the DataFrame
complete_students_data["Passing_Math"] = pd.cut(district_math_scores["math_score"], 
                                                bins, labels = score_labels)

In [11]:
# Place the passing determination into a new column inside the DataFrame
complete_students_data["Passing_Reading"] = pd.cut(district_reading_scores["reading_score"], 
                                                bins, labels = score_labels)

In [12]:
# Confirm the new columns were added to the original DataFrame
complete_students_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,Passing_Math,Passing_Reading
0,0,Paul Bradley,M,9th,Huang High School,66,79,Passing,Not Passing
1,1,Victor Smith,M,12th,Huang High School,94,61,Not Passing,Passing
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,Not Passing,Passing
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,Not Passing,Passing
4,4,Bonnie Ray,F,9th,Huang High School,97,84,Passing,Passing

In [13]:
# Determine the students in the district passing math, reading, and both
dist_students_passing_math = complete_students_data.loc[complete_students_data["Passing_Math"] == "Passing"]

dist_students_passing_reading = complete_students_data.loc[complete_students_data["Passing_Reading"] == "Passing"]

dist_students_pass_math_reading = dist_students_passing_math.loc[dist_students_passing_math["Passing_Reading"] == "Passing"]

math_pass_count = dist_students_passing_math["Passing_Math"].count()
reading_pass_count = dist_students_passing_reading["Passing_Reading"].count()
math_reading_pass_count = dist_students_pass_math_reading["Passing_Math"].count()

#print(math_pass_count)
#print(reading_pass_count)
#print(math_reading_pass_count)

In [14]:
# Calculate percentage of students in district passing math or reading
dist_pct_pass_math = (math_pass_count / student_count)

dist_pct_pass_reading = (reading_pass_count / student_count)

dist_pct_pass_math_reading = (math_reading_pass_count / student_count)

#print(dist_pct_pass_math)
#print(dist_pct_pass_reading)
#print(dist_pct_pass_math_reading)

In [15]:
district_summary = pd.DataFrame({"Total Schools": [school_count],
                                "Total Students": ["{:,}".format(student_count)],
                                "Total Budget": ["${0:,.2f}".format(district_budget)],
                                "Average Math Score": [avg_district_math_score],
                                "Average Reading Score": [avg_district_reading_score],
                                "% Passing Math": ["{:.2%}".format(dist_pct_pass_math)],
                                "% Passing Reading": ["{:.2%}".format(dist_pct_pass_reading)],
                                "% Overall Passing": ["{:.2%}".format(dist_pct_pass_math_reading)]})

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,81.55%,92.37%,75.92%

In [16]:
# Defining the high schools for the individual school analysis
# HHS = Huang High School
# FHS = Figueroa High School
# SHS = Shelton High School
# HZHS = Hernandez High School
# GHS = Griffin High School
# WHS = Wilson High School
# CHS = Cabrera High School
# BHS = Bailey High School
# HNHS = Holden High School
# PHS = Pena High School
# WTHS = Wright High School
# RHS = Rodriguez High School
# JHS = Johnson High School
# FDHS = Ford High School
# THS = Thomas High School

In [17]:
# Collecting student informaiton for Huang High School
hhs_student_data = complete_students_data.loc[complete_students_data["school_name"] == "Huang High School"]
hhs_student_count = hhs_student_data["student_name"].count()

# Calculation average math and reading scores for Huang High School
hhs_avg_math_score = hhs_student_data["math_score"].mean()
hhs_avg_reading_score = hhs_student_data["reading_score"].mean()

# Creating DataFrames that contain the students that are passing math and/or reading
hhs_students_passing_math = hhs_student_data.loc[hhs_student_data["Passing_Math"] == "Passing"]

hhs_students_passing_reading = hhs_student_data.loc[hhs_student_data["Passing_Reading"] == "Passing"]

hhs_students_pass_math_reading = hhs_students_passing_math.loc[hhs_students_passing_math["Passing_Reading"] == "Passing"]

# Determinging the number of students at Huang High School that are passing math and/or reading
hhs_math_pass_count =hhs_students_passing_math["Passing_Math"].count()
hhs_reading_pass_count = hhs_students_passing_reading["Passing_Reading"].count()
hhs_math_reading_pass_count = hhs_students_pass_math_reading["Passing_Math"].count()

# Calculate percentage of students at Huang High School passing math and/or reading
hhs_pct_pass_math = (hhs_math_pass_count / hhs_student_count)

hhs_pct_pass_reading = (hhs_reading_pass_count / hhs_student_count)

hhs_pct_pass_math_reading = (hhs_math_reading_pass_count / hhs_student_count)

#print(hhs_student_count)
#print(hhs_avg_math_score)
#print(hhs_avg_reading_score)
#print(hhs_pct_pass_math)
#print(hhs_pct_pass_reading)
#print(hhs_pct_pass_math_reading)

hhs_summary = pd.DataFrame({"School Name": ["Huang High School"],
                            "Total Students": ["{:,}".format(hhs_student_count)],
                            "Average Math Score": [hhs_avg_math_score],
                            "Average Reading Score": [hhs_avg_reading_score],
                            "% Passing Math": ["{:.2%}".format(hhs_pct_pass_math)],
                            "% Passing Reading": ["{:.2%}".format(hhs_pct_pass_reading)],
                            "% Overall Passing": ["{:.2%}".format(hhs_pct_pass_math_reading)]})

hhs_summary

,School Name,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Huang High School,"2,917",76.629414,81.182722,72.61%,88.93%,64.76%

In [18]:
# Collecting student informaiton for Figueroa High School
fhs_student_data = complete_students_data.loc[complete_students_data["school_name"] == "Figueroa High School"]
fhs_student_count = fhs_student_data["student_name"].count()

# Calculation average math and reading scores for Figueroa High School
fhs_avg_math_score = fhs_student_data["math_score"].mean()
fhs_avg_reading_score = fhs_student_data["reading_score"].mean()

# Creating DataFrames that contain the students that are passing math and/or reading
fhs_students_passing_math = fhs_student_data.loc[fhs_student_data["Passing_Math"] == "Passing"]

fhs_students_passing_reading = fhs_student_data.loc[fhs_student_data["Passing_Reading"] == "Passing"]

fhs_students_pass_math_reading = fhs_students_passing_math.loc[fhs_students_passing_math["Passing_Reading"] == "Passing"]

# Determinging the number of students at Figueroa High School that are passing math and/or reading
fhs_math_pass_count =fhs_students_passing_math["Passing_Math"].count()
fhs_reading_pass_count = fhs_students_passing_reading["Passing_Reading"].count()
fhs_math_reading_pass_count = fhs_students_pass_math_reading["Passing_Math"].count()

# Calculate percentage of students at Figueroa High School passing math and/or reading
fhs_pct_pass_math = (fhs_math_pass_count / fhs_student_count)

fhs_pct_pass_reading = (fhs_reading_pass_count / fhs_student_count)

fhs_pct_pass_math_reading = (fhs_math_reading_pass_count / fhs_student_count)

#print(fhs_student_count)
#print(fhs_avg_math_score)
#print(fhs_avg_reading_score)
#print(fhs_pct_pass_math)
#print(fhs_pct_pass_reading)
#print(fhs_pct_pass_math_reading)

fhs_summary = pd.DataFrame({"School Name": ["Figueroa High School"],
                            "Total Students": ["{:,}".format(fhs_student_count)],
                            "Average Math Score": [fhs_avg_math_score],
                            "Average Reading Score": [fhs_avg_reading_score],
                            "% Passing Math": ["{:.2%}".format(fhs_pct_pass_math)],
                            "% Passing Reading": ["{:.2%}".format(fhs_pct_pass_reading)],
                            "% Overall Passing": ["{:.2%}".format(fhs_pct_pass_math_reading)]})

fhs_summary

,School Name,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Figueroa High School,"2,949",76.711767,81.15802,72.84%,89.32%,64.90%

In [19]:
# Collecting student informaiton for Shelton High School
shs_student_data = complete_students_data.loc[complete_students_data["school_name"] == "Shelton High School"]
shs_student_count = shs_student_data["student_name"].count()

# Calculation average math and reading scores for Shelton High School
shs_avg_math_score = shs_student_data["math_score"].mean()
shs_avg_reading_score = shs_student_data["reading_score"].mean()

# Creating DataFrames that contain the students that are passing math and/or reading
shs_students_passing_math = shs_student_data.loc[shs_student_data["Passing_Math"] == "Passing"]

shs_students_passing_reading = shs_student_data.loc[shs_student_data["Passing_Reading"] == "Passing"]

shs_students_pass_math_reading = shs_students_passing_math.loc[shs_students_passing_math["Passing_Reading"] == "Passing"]

# Determinging the number of students at Shelton High School that are passing math and/or reading
shs_math_pass_count = shs_students_passing_math["Passing_Math"].count()
shs_reading_pass_count = shs_students_passing_reading["Passing_Reading"].count()
shs_math_reading_pass_count = shs_students_pass_math_reading["Passing_Math"].count()

# Calculate percentage of students at Shelton High School passing math and/or reading
shs_pct_pass_math = (shs_math_pass_count / shs_student_count)

shs_pct_pass_reading = (shs_reading_pass_count / shs_student_count)

shs_pct_pass_math_reading = (shs_math_reading_pass_count / shs_student_count)

#print(shs_student_count)
#print(shs_avg_math_score)
#print(shs_avg_reading_score)
#print(shs_pct_pass_math)
#print(shs_pct_pass_reading)
#print(shs_pct_pass_math_reading)

shs_summary = pd.DataFrame({"School Name": ["Shelton High School"],
                            "Total Students": ["{:,}".format(shs_student_count)],
                            "Average Math Score": [shs_avg_math_score],
                            "Average Reading Score": [shs_avg_reading_score],
                            "% Passing Math": ["{:.2%}".format(shs_pct_pass_math)],
                            "% Passing Reading": ["{:.2%}".format(shs_pct_pass_reading)],
                            "% Overall Passing": ["{:.2%}".format(shs_pct_pass_math_reading)]})

shs_summary

,School Name,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Shelton High School,"1,761",83.359455,83.725724,100.00%,100.00%,100.00%

In [20]:
# Collecting student informaiton for Hernandez High School
hzhs_student_data = complete_students_data.loc[complete_students_data["school_name"] == "Hernandez High School"]
hzhs_student_count = hzhs_student_data["student_name"].count()

# Calculation average math and reading scores for Hernandez High School
hzhs_avg_math_score = hzhs_student_data["math_score"].mean()
hzhs_avg_reading_score = hzhs_student_data["reading_score"].mean()

# Creating DataFrames that contain the students that are passing math and/or reading
hzhs_students_passing_math = hzhs_student_data.loc[hzhs_student_data["Passing_Math"] == "Passing"]

hzhs_students_passing_reading = hzhs_student_data.loc[hzhs_student_data["Passing_Reading"] == "Passing"]

hzhs_students_pass_math_reading = hzhs_students_passing_math.loc[hzhs_students_passing_math["Passing_Reading"] == "Passing"]

# Determinging the number of students at Hernandez High School that are passing math and/or reading
hzhs_math_pass_count = hzhs_students_passing_math["Passing_Math"].count()
hzhs_reading_pass_count = hzhs_students_passing_reading["Passing_Reading"].count()
hzhs_math_reading_pass_count = hzhs_students_pass_math_reading["Passing_Math"].count()

# Calculate percentage of students at Hernandez High School passing math and/or reading
hzhs_pct_pass_math = (hzhs_math_pass_count / hzhs_student_count)

hzhs_pct_pass_reading = (hzhs_reading_pass_count / hzhs_student_count)

hzhs_pct_pass_math_reading = (hzhs_math_reading_pass_count / hzhs_student_count)

#print(hzhs_student_count)
#print(hzhs_avg_math_score)
#print(hzhs_avg_reading_score)
#print(hzhs_pct_pass_math)
#print(hzhs_pct_pass_reading)
#print(hzhs_pct_pass_math_reading)

hzhs_summary = pd.DataFrame({"School Name": ["Hernandez High School"],
                             "Total Students": ["{:,}".format(hzhs_student_count)],
                            "Average Math Score": [hzhs_avg_math_score],
                            "Average Reading Score": [hzhs_avg_reading_score],
                            "% Passing Math": ["{:.2%}".format(hzhs_pct_pass_math)],
                            "% Passing Reading": ["{:.2%}".format(hzhs_pct_pass_reading)],
                            "% Overall Passing": ["{:.2%}".format(hzhs_pct_pass_math_reading)]})

hzhs_summary

,School Name,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Hernandez High School,"4,635",77.289752,80.934412,73.18%,88.69%,64.83%

In [21]:
# Collecting student informaiton for Griffin High School
ghs_student_data = complete_students_data.loc[complete_students_data["school_name"] == "Griffin High School"]
ghs_student_count = ghs_student_data["student_name"].count()

# Calculation average math and reading scores for Griffin High School
ghs_avg_math_score = ghs_student_data["math_score"].mean()
ghs_avg_reading_score = ghs_student_data["reading_score"].mean()

# Creating DataFrames that contain the students that are passing math and/or reading
ghs_students_passing_math = ghs_student_data.loc[ghs_student_data["Passing_Math"] == "Passing"]

ghs_students_passing_reading = ghs_student_data.loc[ghs_student_data["Passing_Reading"] == "Passing"]

ghs_students_pass_math_reading = ghs_students_passing_math.loc[ghs_students_passing_math["Passing_Reading"] == "Passing"]

# Determinging the number of students at Griffin High School that are passing math and/or reading
ghs_math_pass_count = ghs_students_passing_math["Passing_Math"].count()
ghs_reading_pass_count = ghs_students_passing_reading["Passing_Reading"].count()
ghs_math_reading_pass_count = ghs_students_pass_math_reading["Passing_Math"].count()

# Calculate percentage of students at Griffin High School passing math and/or reading
ghs_pct_pass_math = (ghs_math_pass_count / ghs_student_count)

ghs_pct_pass_reading = (ghs_reading_pass_count / ghs_student_count)

ghs_pct_pass_math_reading = (ghs_math_reading_pass_count / ghs_student_count)

#print(ghs_student_count)
#print(ghs_avg_math_score)
#print(ghs_avg_reading_score)
#print(ghs_pct_pass_math)
#print(ghs_pct_pass_reading)
#print(ghs_pct_pass_math_reading)

ghs_summary = pd.DataFrame({"School Name": ["Griffin High School"],
                            "Total Students": ["{:,}".format(ghs_student_count)],
                            "Average Math Score": [ghs_avg_math_score],
                            "Average Reading Score": [ghs_avg_reading_score],
                            "% Passing Math": ["{:.2%}".format(ghs_pct_pass_math)],
                            "% Passing Reading": ["{:.2%}".format(ghs_pct_pass_reading)],
                            "% Overall Passing": ["{:.2%}".format(ghs_pct_pass_math_reading)]})

ghs_summary

,School Name,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Griffin High School,"1,468",83.351499,83.816757,100.00%,100.00%,100.00%

In [22]:
# Collecting student informaiton for Wilson High School
whs_student_data = complete_students_data.loc[complete_students_data["school_name"] == "Wilson High School"]
whs_student_count = whs_student_data["student_name"].count()

# Calculation average math and reading scores for Wilson High School
whs_avg_math_score = whs_student_data["math_score"].mean()
whs_avg_reading_score = whs_student_data["reading_score"].mean()

# Creating DataFrames that contain the students that are passing math and/or reading
whs_students_passing_math = whs_student_data.loc[whs_student_data["Passing_Math"] == "Passing"]

whs_students_passing_reading = whs_student_data.loc[whs_student_data["Passing_Reading"] == "Passing"]

whs_students_pass_math_reading = whs_students_passing_math.loc[whs_students_passing_math["Passing_Reading"] == "Passing"]

# Determinging the number of students at Wilson High School that are passing math and/or reading
whs_math_pass_count = whs_students_passing_math["Passing_Math"].count()
whs_reading_pass_count = whs_students_passing_reading["Passing_Reading"].count()
whs_math_reading_pass_count = whs_students_pass_math_reading["Passing_Math"].count()

# Calculate percentage of students at Wilson High School passing math and/or reading
whs_pct_pass_math = (whs_math_pass_count / whs_student_count)

whs_pct_pass_reading = (whs_reading_pass_count / whs_student_count)

whs_pct_pass_math_reading = (whs_math_reading_pass_count / whs_student_count)

#print(whs_student_count)
#print(whs_avg_math_score)
#print(whs_avg_reading_score)
#print(whs_pct_pass_math)
#print(whs_pct_pass_reading)
#print(whs_pct_pass_math_reading)

whs_summary = pd.DataFrame({"School Name": ["Wilson High School"],
                            "Total Students": ["{:,}".format(whs_student_count)],
                            "Average Math Score": [whs_avg_math_score],
                            "Average Reading Score": [whs_avg_reading_score],
                            "% Passing Math": ["{:.2%}".format(whs_pct_pass_math)],
                            "% Passing Reading": ["{:.2%}".format(whs_pct_pass_reading)],
                            "% Overall Passing": ["{:.2%}".format(whs_pct_pass_math_reading)]})

whs_summary

,School Name,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Wilson High School,"2,283",83.274201,83.989488,100.00%,100.00%,100.00%

In [23]:
# Collecting student informaiton for Cabrera High School
chs_student_data = complete_students_data.loc[complete_students_data["school_name"] == "Cabrera High School"]
chs_student_count = chs_student_data["student_name"].count()

# Calculation average math and reading scores for Cabrera High School
chs_avg_math_score = chs_student_data["math_score"].mean()
chs_avg_reading_score = chs_student_data["reading_score"].mean()

# Creating DataFrames that contain the students that are passing math and/or reading
chs_students_passing_math = chs_student_data.loc[chs_student_data["Passing_Math"] == "Passing"]

chs_students_passing_reading = chs_student_data.loc[chs_student_data["Passing_Reading"] == "Passing"]

chs_students_pass_math_reading = chs_students_passing_math.loc[chs_students_passing_math["Passing_Reading"] == "Passing"]

# Determinging the number of students at Cabrera High School that are passing math and/or reading
chs_math_pass_count = chs_students_passing_math["Passing_Math"].count()
chs_reading_pass_count = chs_students_passing_reading["Passing_Reading"].count()
chs_math_reading_pass_count = chs_students_pass_math_reading["Passing_Math"].count()

# Calculate percentage of students at Cabrera High School passing math and/or reading
chs_pct_pass_math = (chs_math_pass_count / chs_student_count)

chs_pct_pass_reading = (chs_reading_pass_count / chs_student_count)

chs_pct_pass_math_reading = (chs_math_reading_pass_count / chs_student_count)

#print(chs_student_count)
#print(chs_avg_math_score)
#print(chs_avg_reading_score)
#print(chs_pct_pass_math)
#print(chs_pct_pass_reading)
#print(chs_pct_pass_math_reading)

chs_summary = pd.DataFrame({"School Name": ["Cabrera High School"],
                            "Total Students": ["{:,}".format(chs_student_count)],
                            "Average Math Score": [chs_avg_math_score],
                            "Average Reading Score": [chs_avg_reading_score],
                            "% Passing Math": ["{:.2%}".format(chs_pct_pass_math)],
                            "% Passing Reading": ["{:.2%}".format(chs_pct_pass_reading)],
                            "% Overall Passing": ["{:.2%}".format(chs_pct_pass_math_reading)]})

chs_summary

,School Name,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Cabrera High School,"1,858",83.061895,83.97578,100.00%,100.00%,100.00%

In [24]:
# Collecting student informaiton for Bailey High School
bhs_student_data = complete_students_data.loc[complete_students_data["school_name"] == "Bailey High School"]
bhs_student_count = bhs_student_data["student_name"].count()

# Calculation average math and reading scores for Bailey High School
bhs_avg_math_score = bhs_student_data["math_score"].mean()
bhs_avg_reading_score = bhs_student_data["reading_score"].mean()

# Creating DataFrames that contain the students that are passing math and/or reading
bhs_students_passing_math = bhs_student_data.loc[bhs_student_data["Passing_Math"] == "Passing"]

bhs_students_passing_reading = bhs_student_data.loc[bhs_student_data["Passing_Reading"] == "Passing"]

bhs_students_pass_math_reading = bhs_students_passing_math.loc[bhs_students_passing_math["Passing_Reading"] == "Passing"]

# Determinging the number of students at Bailey High School that are passing math and/or reading
bhs_math_pass_count = bhs_students_passing_math["Passing_Math"].count()
bhs_reading_pass_count = bhs_students_passing_reading["Passing_Reading"].count()
bhs_math_reading_pass_count = bhs_students_pass_math_reading["Passing_Math"].count()

# Calculate percentage of students at Bailey High School passing math and/or reading
bhs_pct_pass_math = (bhs_math_pass_count / bhs_student_count)

bhs_pct_pass_reading = (bhs_reading_pass_count / bhs_student_count)

bhs_pct_pass_math_reading = (bhs_math_reading_pass_count / bhs_student_count)

#print(bhs_student_count)
#print(bhs_avg_math_score)
#print(bhs_avg_reading_score)
#print(bhs_pct_pass_math)
#print(bhs_pct_pass_reading)
#print(bhs_pct_pass_math_reading)

bhs_summary = pd.DataFrame({"School Name": ["Bailey High School"],
                            "Total Students": ["{:,}".format(bhs_student_count)],
                            "Average Math Score": [bhs_avg_math_score],
                            "Average Reading Score": [bhs_avg_reading_score],
                            "% Passing Math": ["{:.2%}".format(bhs_pct_pass_math)],
                            "% Passing Reading": ["{:.2%}".format(bhs_pct_pass_reading)],
                            "% Overall Passing": ["{:.2%}".format(bhs_pct_pass_math_reading)]})

bhs_summary

,School Name,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Bailey High School,"4,976",77.048432,81.033963,73.39%,89.37%,65.47%

In [25]:
# Collecting student informaiton for Holden High School
hnhs_student_data = complete_students_data.loc[complete_students_data["school_name"] == "Holden High School"]
hnhs_student_count = hnhs_student_data["student_name"].count()

# Calculation average math and reading scores for Holden High School
hnhs_avg_math_score = hnhs_student_data["math_score"].mean()
hnhs_avg_reading_score = hnhs_student_data["reading_score"].mean()

# Creating DataFrames that contain the students that are passing math and/or reading
hnhs_students_passing_math = hnhs_student_data.loc[hnhs_student_data["Passing_Math"] == "Passing"]

hnhs_students_passing_reading = hnhs_student_data.loc[hnhs_student_data["Passing_Reading"] == "Passing"]

hnhs_students_pass_math_reading = hnhs_students_passing_math.loc[hnhs_students_passing_math["Passing_Reading"] == "Passing"]

# Determinging the number of students at Holden High School that are passing math and/or reading
hnhs_math_pass_count = hnhs_students_passing_math["Passing_Math"].count()
hnhs_reading_pass_count = hnhs_students_passing_reading["Passing_Reading"].count()
hnhs_math_reading_pass_count = hnhs_students_pass_math_reading["Passing_Math"].count()

# Calculate percentage of students at Holden High School passing math and/or reading
hnhs_pct_pass_math = (hnhs_math_pass_count / hnhs_student_count)

hnhs_pct_pass_reading = (hnhs_reading_pass_count / hnhs_student_count)

hnhs_pct_pass_math_reading = (hnhs_math_reading_pass_count / hnhs_student_count)

#print(hnhs_student_count)
#print(hnhs_avg_math_score)
#print(hnhs_avg_reading_score)
#print(hnhs_pct_pass_math)
#print(hnhs_pct_pass_reading)
#print(hnhs_pct_pass_math_reading)

hnhs_summary = pd.DataFrame({"School Name": ["Holden High School"],
                            "Total Students": ["{:,}".format(hnhs_student_count)],
                            "Average Math Score": [hnhs_avg_math_score],
                            "Average Reading Score": [hnhs_avg_reading_score],
                            "% Passing Math": ["{:.2%}".format(hnhs_pct_pass_math)],
                            "% Passing Reading": ["{:.2%}".format(hnhs_pct_pass_reading)],
                            "% Overall Passing": ["{:.2%}".format(hnhs_pct_pass_math_reading)]})

hnhs_summary

,School Name,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Holden High School,427,83.803279,83.814988,100.00%,100.00%,100.00%

In [26]:
# Collecting student informaiton for Pena High School
phs_student_data = complete_students_data.loc[complete_students_data["school_name"] == "Pena High School"]
phs_student_count = phs_student_data["student_name"].count()

# Calculation average math and reading scores for Pena High School
phs_avg_math_score = phs_student_data["math_score"].mean()
phs_avg_reading_score = phs_student_data["reading_score"].mean()

# Creating DataFrames that contain the students that are passing math and/or reading
phs_students_passing_math = phs_student_data.loc[phs_student_data["Passing_Math"] == "Passing"]

phs_students_passing_reading = phs_student_data.loc[phs_student_data["Passing_Reading"] == "Passing"]

phs_students_pass_math_reading = phs_students_passing_math.loc[phs_students_passing_math["Passing_Reading"] == "Passing"]

# Determinging the number of students at Pena High School that are passing math and/or reading
phs_math_pass_count = phs_students_passing_math["Passing_Math"].count()
phs_reading_pass_count = phs_students_passing_reading["Passing_Reading"].count()
phs_math_reading_pass_count = phs_students_pass_math_reading["Passing_Math"].count()

# Calculate percentage of students at Pena High School passing math and/or reading
phs_pct_pass_math = (phs_math_pass_count / phs_student_count)

phs_pct_pass_reading = (phs_reading_pass_count / phs_student_count)

phs_pct_pass_math_reading = (phs_math_reading_pass_count / phs_student_count)

#print(phs_student_count)
#print(phs_avg_math_score)
#print(phs_avg_reading_score)
#print(phs_pct_pass_math)
#print(phs_pct_pass_reading)
#print(phs_pct_pass_math_reading)

phs_summary = pd.DataFrame({"School Name": ["Pena High School"],
                            "Total Students": ["{:,}".format(phs_student_count)],
                            "Average Math Score": [phs_avg_math_score],
                            "Average Reading Score": [phs_avg_reading_score],
                            "% Passing Math": ["{:.2%}".format(phs_pct_pass_math)],
                            "% Passing Reading": ["{:.2%}".format(phs_pct_pass_reading)],
                            "% Overall Passing": ["{:.2%}".format(phs_pct_pass_math_reading)]})

phs_summary

,School Name,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Pena High School,962,83.839917,84.044699,100.00%,100.00%,100.00%

In [27]:
# Collecting student informaiton for Wright High School
wths_student_data = complete_students_data.loc[complete_students_data["school_name"] == "Wright High School"]
wths_student_count = wths_student_data["student_name"].count()

# Calculation average math and reading scores for Wright High School
wths_avg_math_score = wths_student_data["math_score"].mean()
wths_avg_reading_score = wths_student_data["reading_score"].mean()

# Creating DataFrames that contain the students that are passing math and/or reading
wths_students_passing_math = wths_student_data.loc[wths_student_data["Passing_Math"] == "Passing"]

wths_students_passing_reading = wths_student_data.loc[wths_student_data["Passing_Reading"] == "Passing"]

wths_students_pass_math_reading = wths_students_passing_math.loc[wths_students_passing_math["Passing_Reading"] == "Passing"]

# Determinging the number of students at Wright High School that are passing math and/or reading
wths_math_pass_count = wths_students_passing_math["Passing_Math"].count()
wths_reading_pass_count = wths_students_passing_reading["Passing_Reading"].count()
wths_math_reading_pass_count = wths_students_pass_math_reading["Passing_Math"].count()

# Calculate percentage of students at Wright High School passing math and/or reading
wths_pct_pass_math = (wths_math_pass_count / wths_student_count)

wths_pct_pass_reading = (wths_reading_pass_count / wths_student_count)

wths_pct_pass_math_reading = (wths_math_reading_pass_count / wths_student_count)

#print(wths_student_count)
#print(wths_avg_math_score)
#print(wths_avg_reading_score)
#print(wths_pct_pass_math)
#print(wths_pct_pass_reading)
#print(wths_pct_pass_math_reading)

wths_summary = pd.DataFrame({"School Name": ["Wright High School"],
                            "Total Students": ["{:,}".format(wths_student_count)],
                            "Average Math Score": [wths_avg_math_score],
                            "Average Reading Score": [wths_avg_reading_score],
                            "% Passing Math": ["{:.2%}".format(wths_pct_pass_math)],
                            "% Passing Reading": ["{:.2%}".format(wths_pct_pass_reading)],
                            "% Overall Passing": ["{:.2%}".format(wths_pct_pass_math_reading)]})

wths_summary

,School Name,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Wright High School,"1,800",83.682222,83.955,100.00%,100.00%,100.00%

In [32]:
# Collecting student informaiton for Rodriguez High School
rhs_student_data = complete_students_data.loc[complete_students_data["school_name"] == "Rodriguez High School"]
rhs_student_count = rhs_student_data["student_name"].count()

# Calculation average math and reading scores for Rodriguez High School
rhs_avg_math_score = rhs_student_data["math_score"].mean()
rhs_avg_reading_score = rhs_student_data["reading_score"].mean()

# Creating DataFrames that contain the students that are passing math and/or reading
rhs_students_passing_math = rhs_student_data.loc[rhs_student_data["Passing_Math"] == "Passing"]

rhs_students_passing_reading = rhs_student_data.loc[rhs_student_data["Passing_Reading"] == "Passing"]

rhs_students_pass_math_reading = rhs_students_passing_math.loc[rhs_students_passing_math["Passing_Reading"] == "Passing"]

# Determinging the number of students at Rodriguez High School that are passing math and/or reading
rhs_math_pass_count = rhs_students_passing_math["Passing_Math"].count()
rhs_reading_pass_count = rhs_students_passing_reading["Passing_Reading"].count()
rhs_math_reading_pass_count = rhs_students_pass_math_reading["Passing_Math"].count()

# Calculate percentage of students at Rodriguez High School passing math and/or reading
rhs_pct_pass_math = (rhs_math_pass_count / rhs_student_count)

rhs_pct_pass_reading = (rhs_reading_pass_count / rhs_student_count)

rhs_pct_pass_math_reading = (rhs_math_reading_pass_count / rhs_student_count)

#print(rhs_student_count)
#print(rhs_avg_math_score)
#print(rhs_avg_reading_score)
#print(rhs_pct_pass_math)
#print(rhs_pct_pass_reading)
#print(rhs_pct_pass_math_reading)

rhs_summary = pd.DataFrame({"School Name": ["Rodriguez High School"],
                            "Total Students": ["{:,}".format(rhs_student_count)],
                            "Average Math Score": [rhs_avg_math_score],
                            "Average Reading Score": [rhs_avg_reading_score],
                            "% Passing Math": ["{:.2%}".format(rhs_pct_pass_math)],
                            "% Passing Reading": ["{:.2%}".format(rhs_pct_pass_reading)],
                            "% Overall Passing": ["{:.2%}".format(rhs_pct_pass_math_reading)]})

rhs_summary

,School Name,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Rodriguez High School,"3,999",76.842711,80.744686,73.19%,88.70%,64.87%

In [33]:
# Collecting student informaiton for Johnson High School
jhs_student_data = complete_students_data.loc[complete_students_data["school_name"] == "Johnson High School"]
jhs_student_count = jhs_student_data["student_name"].count()

# Calculation average math and reading scores for Johnson High School
jhs_avg_math_score = jhs_student_data["math_score"].mean()
jhs_avg_reading_score = jhs_student_data["reading_score"].mean()

# Creating DataFrames that contain the students that are passing math and/or reading
jhs_students_passing_math = jhs_student_data.loc[jhs_student_data["Passing_Math"] == "Passing"]

jhs_students_passing_reading = jhs_student_data.loc[jhs_student_data["Passing_Reading"] == "Passing"]

jhs_students_pass_math_reading = jhs_students_passing_math.loc[jhs_students_passing_math["Passing_Reading"] == "Passing"]

# Determinging the number of students at Johnson High School that are passing math and/or reading
jhs_math_pass_count = jhs_students_passing_math["Passing_Math"].count()
jhs_reading_pass_count = jhs_students_passing_reading["Passing_Reading"].count()
jhs_math_reading_pass_count = jhs_students_pass_math_reading["Passing_Math"].count()

# Calculate percentage of students at Johnson High School passing math and/or reading
jhs_pct_pass_math = (jhs_math_pass_count / jhs_student_count)

jhs_pct_pass_reading = (jhs_reading_pass_count / jhs_student_count)

jhs_pct_pass_math_reading = (jhs_math_reading_pass_count / jhs_student_count)

#print(jhs_student_count)
#print(jhs_avg_math_score)
#print(jhs_avg_reading_score)
#print(jhs_pct_pass_math)
#print(jhs_pct_pass_reading)
#print(jhs_pct_pass_math_reading)

jhs_summary = pd.DataFrame({"School Name": ["Johnson High School"],
                            "Total Students": ["{:,}".format(jhs_student_count)],
                            "Average Math Score": [jhs_avg_math_score],
                            "Average Reading Score": [jhs_avg_reading_score],
                            "% Passing Math": ["{:.2%}".format(jhs_pct_pass_math)],
                            "% Passing Reading": ["{:.2%}".format(jhs_pct_pass_reading)],
                            "% Overall Passing": ["{:.2%}".format(jhs_pct_pass_math_reading)]})

jhs_summary

,School Name,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Johnson High School,"4,761",77.072464,80.966394,73.14%,89.18%,65.20%

In [34]:
# Collecting student informaiton for Ford High School
fdhs_student_data = complete_students_data.loc[complete_students_data["school_name"] == "Ford High School"]
fdhs_student_count = fdhs_student_data["student_name"].count()

# Calculation average math and reading scores for Ford High School
fdhs_avg_math_score = fdhs_student_data["math_score"].mean()
fdhs_avg_reading_score = fdhs_student_data["reading_score"].mean()

# Creating DataFrames that contain the students that are passing math and/or reading
fdhs_students_passing_math = fdhs_student_data.loc[fdhs_student_data["Passing_Math"] == "Passing"]

fdhs_students_passing_reading = fdhs_student_data.loc[fdhs_student_data["Passing_Reading"] == "Passing"]

fdhs_students_pass_math_reading = fdhs_students_passing_math.loc[fdhs_students_passing_math["Passing_Reading"] == "Passing"]

# Determinging the number of students at Ford High School that are passing math and/or reading
fdhs_math_pass_count = fdhs_students_passing_math["Passing_Math"].count()
fdhs_reading_pass_count = fdhs_students_passing_reading["Passing_Reading"].count()
fdhs_math_reading_pass_count = fdhs_students_pass_math_reading["Passing_Math"].count()

# Calculate percentage of students at Ford High School passing math and/or reading
fdhs_pct_pass_math = (fdhs_math_pass_count / fdhs_student_count)

fdhs_pct_pass_reading = (fdhs_reading_pass_count / fdhs_student_count)

fdhs_pct_pass_math_reading = (fdhs_math_reading_pass_count / fdhs_student_count)

#print(fdhs_student_count)
#print(fdhs_avg_math_score)
#print(fdhs_avg_reading_score)
#print(fdhs_pct_pass_math)
#print(fdhs_pct_pass_reading)
#print(fdhs_pct_pass_math_reading)

fdhs_summary = pd.DataFrame({"School Name": ["Ford High School"],
                            "Total Students": ["{:,}".format(fdhs_student_count)],
                            "Average Math Score": [fdhs_avg_math_score],
                            "Average Reading Score": [fdhs_avg_reading_score],
                            "% Passing Math": ["{:.2%}".format(fdhs_pct_pass_math)],
                            "% Passing Reading": ["{:.2%}".format(fdhs_pct_pass_reading)],
                            "% Overall Passing": ["{:.2%}".format(fdhs_pct_pass_math_reading)]})

fdhs_summary

,School Name,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Ford High School,"2,739",77.102592,80.746258,74.08%,87.88%,64.99%

In [37]:
# Collecting student informaiton for Thomas High School
ths_student_data = complete_students_data.loc[complete_students_data["school_name"] == "Thomas High School"]
ths_student_count = ths_student_data["student_name"].count()

# Calculation average math and reading scores for Thomas High School
ths_avg_math_score = ths_student_data["math_score"].mean()
ths_avg_reading_score = ths_student_data["reading_score"].mean()

# Creating DataFrames that contain the students that are passing math and/or reading
ths_students_passing_math = ths_student_data.loc[ths_student_data["Passing_Math"] == "Passing"]

ths_students_passing_reading = ths_student_data.loc[ths_student_data["Passing_Reading"] == "Passing"]

ths_students_pass_math_reading = ths_students_passing_reading.loc[ths_students_passing_reading["Passing_Math"] == "Passing"]

# Determinging the number of students at Thomas High School that are passing math and/or reading
ths_math_pass_count = ths_students_passing_math["Passing_Math"].count()
ths_reading_pass_count = ths_students_passing_reading["Passing_Reading"].count()
ths_math_reading_pass_count = ths_students_pass_math_reading["Passing_Math"].count()

# Calculate percentage of students at Thomas High School passing math and/or reading
ths_pct_pass_math = (ths_math_pass_count / ths_student_count)

ths_pct_pass_reading = (ths_reading_pass_count / ths_student_count)

ths_pct_pass_math_reading = (ths_math_reading_pass_count / ths_student_count)

#print(ths_student_count)
#print(ths_avg_math_score)
#print(ths_avg_reading_score)
#print(ths_pct_pass_math)
#print(ths_pct_pass_reading)
#print(ths_pct_pass_math_reading)

ths_summary = pd.DataFrame({"School Name": ["Thomas High School"],
                            "Total Students": ["{:,}".format(ths_student_count)],
                            "Average Math Score": [ths_avg_math_score],
                            "Average Reading Score": [ths_avg_reading_score],
                            "% Passing Math": ["{:.2%}".format(ths_pct_pass_math)],
                            "% Passing Reading": ["{:.2%}".format(ths_pct_pass_reading)],
                            "% Overall Passing": ["{:.2%}".format(ths_pct_pass_math_reading)]})

ths_summary

,School Name,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Thomas High School,"1,635",83.418349,83.84893,100.00%,100.00%,100.00%